In [1]:
import pandas as pd
df = pd.read_excel('LineExample.xlsx')
df

   x  y
0  1  3
1  2  4
2  3  2
3  4  4
4  5  5

In [2]:
mean_x = df['x'].mean()
print(mean_x)

3.0

In [3]:
arr_xvals = []
for pos in range(0,df.shape[0]):
    ans = df.at[pos,'x']
    total = ans - mean_x
    arr_xvals.append(total)
print(arr_xvals)

[-2.0, -1.0, 0.0, 1.0, 2.0]

In [4]:
mean_y = df['y'].mean()
print(mean_y)

3.6

In [5]:
arr_yvals = []
for pos in range(0,df.shape[0]):
    ans = df.at[pos,'y']
    total = ans - mean_y
    arr_yvals.append(total)
print(arr_yvals)

[-0.6000000000000001, 0.3999999999999999, -1.6, 0.3999999999999999, 1.4]

In [6]:
df['x-x(mean)'] = arr_xvals
df['y-y(mean)'] = arr_yvals

In [7]:
df

   x  y  x-x(mean)  y-y(mean)
0  1  3       -2.0       -0.6
1  2  4       -1.0        0.4
2  3  2        0.0       -1.6
3  4  4        1.0        0.4
4  5  5        2.0        1.4

In [8]:
arr_sq=[]
for pos in range(0,df.shape[0]):
    ans = df.at[pos,'x-x(mean)']
    total = ans**2
    arr_sq.append(total)
df['x-x(mean)^2'] = arr_sq

In [9]:
df

   x  y  x-x(mean)  y-y(mean)  x-x(mean)^2
0  1  3       -2.0       -0.6          4.0
1  2  4       -1.0        0.4          1.0
2  3  2        0.0       -1.6          0.0
3  4  4        1.0        0.4          1.0
4  5  5        2.0        1.4          4.0

In [10]:
arr_ans = []
for pos in range(0,df.shape[0]):
    ans1 = df.at[pos,'x-x(mean)']
    ans2 = df.at[pos,'y-y(mean)']
    total = ans1*ans2
    arr_ans.append(total)
df['(x-x(mean))(y-y(mean))'] = arr_ans
df

   x  y  x-x(mean)  y-y(mean)  x-x(mean)^2  (x-x(mean))(y-y(mean))
0  1  3       -2.0       -0.6          4.0                     1.2
1  2  4       -1.0        0.4          1.0                    -0.4
2  3  2        0.0       -1.6          0.0                    -0.0
3  4  4        1.0        0.4          1.0                     0.4
4  5  5        2.0        1.4          4.0                     2.8

In [11]:
sumxsq = 0
for pos in range(0,df.shape[0]):
    sumxsq+=df.at[pos,'x-x(mean)^2']
print(sumxsq)

10.0

In [12]:
sumxy = 0
for pos in range(0,df.shape[0]):
    sumxy+=df.at[pos,'(x-x(mean))(y-y(mean))']
print(sumxy)

4.0

In [13]:
ans_total = sumxy/sumxsq

In [14]:
mx = ans_total*mean_x
print(mean_y,'=',mx,'+ c')
c=mean_y-mx
print('y = '+str(ans_total)+'x +',c)

3.6 = 1.2000000000000002 + c
y = 0.4x + 2.4

In [15]:
import matplotlib.pyplot as plt

In [16]:
plt.show()

In [17]:
import numpy as np
x = np.linspace(1,5,50)
y1 = ans_total*x+c
plt.plot(x, y, '-r')
plt.grid()
plt.show()

NameError: name 'y' is not defined

In [ ]:
df.plot(x ='x', y='y', kind = 'scatter')

In [ ]:
df.plot()

In [ ]:
arr_eqs = []
for pos in range(0,df.shape[0]):
    x_val = df.at[pos,'x']
    ans = ans_total*x_val
    ans+=c
    arr_eqs.append(ans)
df['Equation'] = arr_eqs

In [ ]:
df

In [ ]:
ax1 = df.plot(x ='x', y='Equation', kind = 'line')
df.plot(x ='x', y='y', kind = 'scatter',ax=ax1)

ax alows you to plot ultiple different types of graph on one single graph grid.