In [1]:
import pandas as pd

In [2]:
df = pd.read_excel (r'/Users/vanshgadhia/Desktop/Machine Learning/Text Data sheet.xlsx')

In [3]:
df

                           Text          Tag
0                  A great game       Sports
1         The election was over  Not sports
2              Very clean match       Sports
3  A clean but forgettable game       Sports
4       It was a close election  Not sports

In [4]:
for pos in range(0,df.shape[0]):
    df.at[pos,'Text'] = df.at[pos,'Text'].lower()
df

                           Text          Tag
0                  a great game       Sports
1         the election was over  Not sports
2              very clean match       Sports
3  a clean but forgettable game       Sports
4       it was a close election  Not sports

In [5]:
arr = df['Text']

In [6]:
arr_unique = []

In [7]:
for pos in range(0,df.shape[0]):
    arr_unique.append(df.at[pos,'Text'].split())
print(arr_unique)

[['a', 'great', 'game'], ['the', 'election', 'was', 'over'], ['very', 'clean', 'match'], ['a', 'clean', 'but', 'forgettable', 'game'], ['it', 'was', 'a', 'close', 'election']]

In [8]:
cols = []
for pos in range(0,len(arr_unique)):
    for num in range(0,len(arr_unique[pos])):
        if(arr_unique[pos][num] not in cols):
            cols.append(arr_unique[pos][num])
print(cols)

['a', 'great', 'game', 'the', 'election', 'was', 'over', 'very', 'clean', 'match', 'but', 'forgettable', 'it', 'close']

In [9]:
num_vals = len(cols)

In [10]:
arr_data = []
arr_data_prop = []
for pos in range(0,num_vals):
    arr_data.append(0)
for pos in range(0,df.shape[0]):
    arr_data_prop.append(arr_data)
print(arr_data_prop)

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [11]:
text = pd.DataFrame(data = arr_data_prop,columns=cols)
text

,a,great,game,the,election,was,over,very,clean,match,but,forgettable,it,close
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [12]:
print(text.columns)

Index(['a', 'great', 'game', 'the', 'election', 'was', 'over', 'very', 'clean',
       'match', 'but', 'forgettable', 'it', 'close'],
      dtype='object')

In [13]:
freq=0
for pos in text.columns:
    freq=0
    for row in range(0,df.shape[0]):
        freq=1
        if(pos in df.at[row,'Text'].split()):
            freq+=1
        text.at[row,pos]=freq
text

,a,great,game,the,election,was,over,very,clean,match,but,forgettable,it,close
0,2,2,2,1,1,1,1,1,1,1,1,1,1,1
1,1,1,1,2,2,2,2,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,2,2,2,1,1,1,1
3,2,1,2,1,1,1,1,1,2,1,2,2,1,1
4,2,1,1,1,2,2,1,1,1,1,1,1,2,2

In [14]:
from sklearn.feature_extraction.text import CountVectorizer

In [15]:
arr_text = []
for pos in range(0,df.shape[0]):
    arr_text.append(str(df.at[pos,'Text']))
print(arr_text)

['a great game', 'the election was over', 'very clean match', 'a clean but forgettable game', 'it was a close election']

In [16]:
cv = CountVectorizer(token_pattern=r"(?u)\b\w+\b")

In [17]:
count_vector=cv.fit_transform(arr_text)

This means that there are 5 rows and 15 columns meaning 15 unique words

In [18]:
count_vector.shape

(5, 14)

In [19]:
count_array = count_vector.toarray()

In [20]:
print(count_array)

[[1 0 0 0 0 0 1 1 0 0 0 0 0 0]
 [0 0 0 0 1 0 0 0 0 0 1 1 0 1]
 [0 0 1 0 0 0 0 0 0 1 0 0 1 0]
 [1 1 1 0 0 1 1 0 0 0 0 0 0 0]
 [1 0 0 1 1 0 0 0 1 0 0 0 0 1]]

In [21]:
arr_colv = cv.get_feature_names()
arr_colv

['a',
 'but',
 'clean',
 'close',
 'election',
 'forgettable',
 'game',
 'great',
 'it',
 'match',
 'over',
 'the',
 'very',
 'was']

In [22]:
df_vect = pd.DataFrame(data=count_array,columns = cv.get_feature_names())

In [23]:
for pos in df_vect.columns:
    for row in range(0,df_vect.shape[0]):
        df_vect.at[row,pos] = df_vect.at[row,pos]+1

In [24]:
df_vect

,a,but,clean,close,election,forgettable,game,great,it,match,over,the,very,was
0,2,1,1,1,1,1,2,2,1,1,1,1,1,1
1,1,1,1,1,2,1,1,1,1,1,2,2,1,2
2,1,1,2,1,1,1,1,1,1,2,1,1,2,1
3,2,2,2,1,1,2,2,1,1,1,1,1,1,1
4,2,1,1,2,2,1,1,1,2,1,1,1,1,2

In [25]:
from sklearn.preprocessing import LabelEncoder

In [26]:
label_encoder_y = LabelEncoder()

In [27]:
col_y = df.columns[-1]

In [28]:
arr_cols_prop =[]
arr_cols_prop.append(col_y+' Encode')

In [29]:
data=[]

In [30]:
label = pd.DataFrame(data, columns=arr_cols_prop)
label

Empty DataFrame
Columns: [Tag Encode]
Index: []

In [31]:
label[col_y+' Encode'] = label_encoder_y.fit_transform(df[col_y])
label

   Tag Encode
0           1
1           0
2           1
3           1
4           0

In [32]:
col_y

'Tag'

In [33]:
arr_s1=[]
for pos in range (0,df.shape[0]):
    arr_s1.append(df[col_y][pos])
arr_s = set(arr_s1)
print(arr_s)

{'Sports', 'Not sports '}

In [34]:
unique_vals = df[col_y].unique()
unique_vals

array(['Sports', 'Not sports '], dtype=object)

In [35]:
freq=[]
count1=0
for pos in arr_s:
    count1=0
    for row in range(0,df.shape[0]):
        if(df.at[row,col_y]==pos):
            count1+=1
    freq.append(count1)
print(freq)

[3, 2]

In [36]:
iterator = iter(arr_s)
diction={
}
for pos in range(0,len(arr_s)):
    a = next(iterator, None)
    diction[a]=freq[pos]
print(diction)

{'Sports': 3, 'Not sports ': 2}

In [37]:
arr_colv

['a',
 'but',
 'clean',
 'close',
 'election',
 'forgettable',
 'game',
 'great',
 'it',
 'match',
 'over',
 'the',
 'very',
 'was']

In [38]:
no_mult ={
    
}

In [39]:
for pos in arr_colv:
    arr_dict=[]
    no_mult[pos]={}
    for col in unique_vals:
        arr_dict.append(col)
    no_mult[pos]=arr_dict
print(no_mult)

{'a': ['Sports', 'Not sports '], 'but': ['Sports', 'Not sports '], 'clean': ['Sports', 'Not sports '], 'close': ['Sports', 'Not sports '], 'election': ['Sports', 'Not sports '], 'forgettable': ['Sports', 'Not sports '], 'game': ['Sports', 'Not sports '], 'great': ['Sports', 'Not sports '], 'it': ['Sports', 'Not sports '], 'match': ['Sports', 'Not sports '], 'over': ['Sports', 'Not sports '], 'the': ['Sports', 'Not sports '], 'very': ['Sports', 'Not sports '], 'was': ['Sports', 'Not sports ']}

In [40]:
x_vals_col = df.columns[0]

In [41]:
prop_dict={
    
}

In [42]:
for pos in arr_colv:
    prop_dict[pos]={}
    for val in range(0,len(no_mult[pos])):
        frequency=0
        freq_total=0
        value = no_mult[pos][val]
        for row in range(0,df.shape[0]):
            if(df.at[row,col_y]==value and df_vect.at[row,pos]>=1):
                frequency+=df_vect.at[row,pos]
            if(df.at[row,col_y]==value):
                freq_total+=len(df.at[row,x_vals_col].split())
        prop_dict[pos][value]=frequency/freq_total
print(prop_dict)

{'a': {'Sports': 0.45454545454545453, 'Not sports ': 0.3333333333333333}, 'but': {'Sports': 0.36363636363636365, 'Not sports ': 0.2222222222222222}, 'clean': {'Sports': 0.45454545454545453, 'Not sports ': 0.2222222222222222}, 'close': {'Sports': 0.2727272727272727, 'Not sports ': 0.3333333333333333}, 'election': {'Sports': 0.2727272727272727, 'Not sports ': 0.4444444444444444}, 'forgettable': {'Sports': 0.36363636363636365, 'Not sports ': 0.2222222222222222}, 'game': {'Sports': 0.45454545454545453, 'Not sports ': 0.2222222222222222}, 'great': {'Sports': 0.36363636363636365, 'Not sports ': 0.2222222222222222}, 'it': {'Sports': 0.2727272727272727, 'Not sports ': 0.3333333333333333}, 'match': {'Sports': 0.36363636363636365, 'Not sports ': 0.2222222222222222}, 'over': {'Sports': 0.2727272727272727, 'Not sports ': 0.3333333333333333}, 'the': {'Sports': 0.2727272727272727, 'Not sports ': 0.3333333333333333}, 'very': {'Sports': 0.36363636363636365, 'Not sports ': 0.2222222222222222}, 'was': {'Sports': 0.2727272727272727, 'Not sports ': 0.4444444444444444}}

In [43]:
df

                           Text          Tag
0                  a great game       Sports
1         the election was over  Not sports
2              very clean match       Sports
3  a clean but forgettable game       Sports
4       it was a close election  Not sports

In [44]:
df_vect

,a,but,clean,close,election,forgettable,game,great,it,match,over,the,very,was
0,2,1,1,1,1,1,2,2,1,1,1,1,1,1
1,1,1,1,1,2,1,1,1,1,1,2,2,1,2
2,1,1,2,1,1,1,1,1,1,2,1,1,2,1
3,2,2,2,1,1,2,2,1,1,1,1,1,1,1
4,2,1,1,2,2,1,1,1,2,1,1,1,1,2

In [45]:
sentence = input('Type in a sentence: ')

Type in a sentence: an amazing and clean game

In [46]:
sent = sentence.split()
sent

['an', 'amazing', 'and', 'clean', 'game']

In [47]:
arr_sent = []
for pos in sent:
    if(pos in arr_colv):
        arr_sent.append(pos)
arr_sent

['clean', 'game']

In [48]:
unique_vals

array(['Sports', 'Not sports '], dtype=object)

In [49]:
dic_pred = {
    
}

In [50]:
for val in unique_vals:
    ans = 1
    for pos in arr_sent:
        ans*=prop_dict[pos][val]
    dic_pred[val]=ans
dic_pred

{'Sports': 0.20661157024793386, 'Not sports ': 0.04938271604938271}

In [51]:
result=''
maxim = 0
store = ''
for val in unique_vals:
    if(dic_pred[val]>maxim):
        maxim = dic_pred[val]
        store = val

In [52]:
print(sentence+' is about: '+store)

an amazing and clean game is about: Sports